@media only screen and (min-width: 37.5em) {

 main {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
 }

 article {
     grid-column: 1/4;
 }

 #join {
     display: block;
 }

 #event {
     grid-column: 1/3;
 }

 #weather {
     grid-column: 3/4;
 }

footer {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

#footer1 {
    text-align: center;
}

#footer2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#footer2 p {
    margin: 0.5em 1em;
}

#copy {
    grid-column: 1/3;;
}

#welcome {
    height: 200px;
}

#spot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.spotlight {
    width: -webkit-fill-available;
}

#joinUsBtn {
    border: 1px solid black;
    border-radius: 0.5em;
    background-color: rgba(60, 179, 30, 0.9);
    margin: 1em;
    padding: 1em;
}

form {
    grid-column: 1/4;
}

form label input, form label select{
    max-width: 40rem;
}

.joinBtn {
    width: 80%;
    max-width: 40rem;
    font-size: 1.2rem;
}

textarea {
    max-width: 40rem;
}

#thanks {
    grid-column: 2/3;
}

#thanks img {
    max-width: 30rem;
  }

}