body {
    background-color: lightgray;
    text-align: center;
}

section {
    border: 1px solid gray;
    border-radius: 25px;
    margin:25px auto;
    background-color: rgba(0,0,0,0.1);
}

@media only screen and (min-width: 37.5em) {
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 64em) {
    .cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}